.data-popup {
  width: 295px;
  height: calc(100% - 130px);
  background-color: #FFFFFF;
  border-radius: 15px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.05));
}

.data-popup__hidden {
  display: none;
}

.data-popup_position_left {
  position: absolute;
  top: 110px;
  left: 20px;
  z-index: 10;
}

.data-popup_position_right {
  position: absolute;
  top: 110px;
  right: 20px;
  z-index: 10;
}
