.counter {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.counter__quantity {
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.counter__quantity_color_red {
  color: #F27E59;
}

.counter__quantity_color_purple {
  color: #9B74D1;
}

.counter__quantity_color_blue {
  color: #6394D7;
}

.counter__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 70px;
}