.map-container {
  height: 100px;
  width: 100vw;
}

/* Add this CSS to your stylesheet or component */

.custom-marker {
  background-color: #007bff; /* Blue marker background color */
  border-radius: 50%;
  color: #fff; /* Text color */
  text-align: center;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
}

.custom-marker:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.marker-content {
  font-size: 14px;
}

.svg_containerHex {
  display: flex;
  z-index: 100;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.svg_containerPolygon {
  display: flex;
  z-index: 100;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 0;
  left: 53%;
  right: 50%;
}

/*.map_polygonButton {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 50%;*/
/*  right: 50%;*/
/*}*/

/*.map_hexButton {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 50%;*/
/*  right: 50%;*/
/*}*/