.header {
  width: 100%;
  height: 90px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.header__button {
  min-width: 180px;
  height: 40px;
  border: 1px solid #CACACA;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  opacity: 0;
}

.header__button:hover {
  cursor: pointer;
}
