.rmsc {
  --rmsc-main: transperent;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: none;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 0px 0px 15px 15px;
  --rmsc-h: 30px; /* Height */
}

.filter-name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.filter-multiselect {
  width: 170px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}